@import "~bootstrap/scss/bootstrap";

.app {
  .intro {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0px;
  }

  .camera-container {
    display: flex;
    justify-content: center;
    .buttons-container {
      label {
        background-color: #e2ba6b;
        color: #000;
        padding: 11px;
        border-radius: 12px;
        margin: 0px 5px;
      }
      button {
        margin: 0px 5px;
      }
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin: 20px 0px;
    #receipt-image {
      max-height: 100%;
      border-radius: 12px;
    }
  }
}
